body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  position:relative;
  min-height: 100%;
}
.title-note{
  text-align: center;
  margin: 2em 0;
}

emoji{
  font-size: 12px;
}
.container{

}
footer{
}
